# 파이썬 표준입출력

In [16]:
# 표준출력
print("윤민지 안녕하세요.")

윤민지 안녕하세요.

In [17]:
print("Hello")
print("World!")

Hello
World!

In [18]:
print("Hello",end='')
print("World!")

print("Hello",end=',')
print("World!")

HelloWorld!
Hello,World!

In [19]:
print("Hello","World!")
print("Hello"+"World!")

Hello World!
HelloWorld!

In [20]:
# 표준입력
x=input()
print(x)

4
4

In [21]:
x=input("x 입력 :")
y=input("y 입력 :")

x 입력 :10
y 입력 :5

In [22]:
print(x,'+',y,'=',x+y)
print('입력된 수는',x,'입니다')

10 + 5 = 105
입력된 수는 10 입니다

In [30]:
# int : 문자 > 정수
x=int(input("x 입력 :"))
y=int(input("y 입력 :"))
print(x,'x',y,'=',x*y)
print(x,'/',y,'=',x/y)

x 입력 :4
y 입력 :5
4 x 5 = 20
4 / 5 = 0.8

In [33]:
# print(x+'/'+y+'='+(x/y))
# 연결 연산자 + 는 문자만 연결시켜준다. 정수 > 문자 : str 사용

x=int(input("x 입력 :"))
y=int(input("y 입력 :"))
print(str(x)+'/'+str(y)+'='+str(x/y))

x 입력 :4
y 입력 :5
4/5=0.8

In [36]:
# 데이터 타입 확인
type(x)

int

In [37]:
# 데이터 타입 확인
type(x/y)

float

In [39]:
w=input('소속을 입력하세요')
x=input('성명을 입력하세요')
y=input('연락처를 입력하세요')
z=input('이메일 주소를 입력하세요')

print('+----------------+')
print(w)
print(x)
print(y)
print(z)
print('+----------------+')

소속을 입력하세요부산대학교
성명을 입력하세요윤민지
연락처를 입력하세요010-2250-6172
이메일 주소를 입력하세요mj99106@naver.com
+----------------+
부산대학교
윤민지
010-2250-6172
mj99106@naver.com
+----------------+

In [40]:
# 리스트 : 숫자, 문자 모두 들어갈 수 있음
list=[1,2,3,"a"]
print(list)

[1, 2, 3, 'a']

In [42]:
# 튜플
# 리스트와 차이점 : 리스트는 대괄호, 튜플은 중괄호 사용 / 리스트는 변형 가능, 튜플은 변형 불가능
t={1,2,3,"a"}
print(t)

{'a', 1, 2, 3}

In [44]:
# 딕셔너리 : 쌍으로 이루어짐
dic={'a':1, 'b':2}
print(dic)

# 리스트와 튜플은 순서가 정해져 있지만 딕셔너리는 순서 상관 없이 key 값으로 찾음

{'a': 1, 'b': 2}