# 함수

In [1]:
def myfun() : 
    print('hello')

In [2]:
myfun()

hello

In [5]:
def myfun2(n) : 
    for i in range(n) :
        print(i,': hello')

In [6]:
myfun2(3)

0 : hello
1 : hello
2 : hello

In [7]:
def myfun3(lst) :
    for i in range(len(lst)) :
        print(lst[i])

In [8]:
lst1 = ['a','b','c']
myfun3(lst1)

a
b
c

In [11]:
import random as r
lst2=r.sample(list(range(46)),6)
myfun3(lst2)

21
44
11
1
2
37

In [12]:
def myfun4(x,y,op) :
    if op == '+' : ans = x + y
    elif op == '-' : ans = x - y
    elif op == '*' : ans = x * y
    elif op == '/' : ans = x / y
        
    print(x, op, y, '=', ans)

In [13]:
myfun4(10,20,'-')

10 - 20 = -10

In [14]:
myfun4(10,20,'*')

10 * 20 = 200

In [18]:
def myfun41(x,y,op) :
    if op in ['+','-','x','/'] :
        if op == '+' : ans = x + y
        elif op == '-' : ans = x - y
        elif op == 'x' : ans = x * y
        elif op == '/' : ans = x / y
                
        print(x, op, y, '=', ans)
    else :
        print('ERROR')

In [19]:
myfun41(10,20,'x')

10 x 20 = 200

In [20]:
myfun41(10,20,'*')

ERROR

In [22]:
def myfun42(x,y,op) :
    if op not in ['+','-','x','/'] :
        print('ERROR')
        return  # 함수 종료하고 싶을 때
    
    if op == '+' : ans = x + y
    elif op == '-' : ans = x - y
    elif op == 'x' : ans = x * y
    elif op == '/' : ans = x / y
                
    print(x, op, y, '=', ans)

In [23]:
myfun42(10,20,'x')

10 x 20 = 200

In [24]:
myfun42(10,20,'*')

ERROR

In [29]:
import random as r

def myfun5(n) :
    lst=r.sample(list(range(100)),n)
    
    return lst

In [30]:
lst1 = myfun5(10)
myfun3(lst1)

69
81
15
60
72
9
71
16
68
49

In [33]:
lst2 = myfun5(5)
myfun3(lst2)

6
2
65
4
37

In [35]:
myfun3(myfun5(3))

35
39
6

In [36]:
def myfun31(n) :
    lst = r.sample(list(range(100)),n)
    
    return lst,lst*2

In [38]:
l1, l2 = myfun31(3)

print(l1)
print(l2)

[46, 52, 47]
[46, 52, 47, 46, 52, 47]

In [40]:
def rcsv(filename) :
    lst1 = []
    lst2 = []
    
    f = open(filename,'r')
    data = f.readlines()
    f.close()
    
    for line in data :
        line = line.replace('\n','')
        item = line.split(',')
        
        lst1.append(item[0])
        lst2.append(item[1])
        
    return lst1, lst2

# lst1, lst2 를 lst 하나만 만들면 변수가 한 개인 모든 데이터를 읽어올 수 있음.
# 그 때 변수가 두 개 이상이라면 for in 구문을 여러개 사용하여 리스트를 여러개 만들면 됨.

In [43]:
lst1, lst2 = rcsv('증권정보.csv')
print(lst1)
print(lst2)

['종목명', '삼성전자', '남영비비안', 'SK하이닉스', '후성', '플리토', '메지온', '삼륭물산', '이아이디', '삼성전기', '헬릭스미스']
['현재가', '47450', '9170', '79900', '10400', '37850', '103300', '9330', '422', '97700', '218700']

In [44]:
lst1, lst2 = rcsv('도별미세먼지.csv')
print(lst1)
print(lst2)

['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']
['20', '26', '24', '24', '25', '22', '26', '23', '24', '23', '26', '22', '24', '23', '28', '29', '26']

In [45]:
lst1, lst2 = rcsv('jumsu.txt')
print(lst1)
print(lst2)

['김수연', '이지연']
['89', '80']